@{
    ViewData["Title"] = "Créer un compte";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="wrapper">
    <div class="container">
        <h1>AREA - Création de compte</h1>
        <form class="form">
			<span id="error-msg"></span>
            <input type="text" name="username" class="form-control" placeholder="Pseudo" required>
            <input type="password" name="password" class="form-control" placeholder="Mot de passe" required>
            <input type="password" name="passwordConfirm" class="form-control" placeholder="Confirmer votre mot de passe" required>
            <button type="submit" id="registration-button">Créer son compte</button><br><br>
            <span>Déjà un compte ? &nbsp;<a href="~/">Se connecter</a></span>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>